.popup {
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    display: none;
    /* display: flex; */
}