.card__like-button {
    border: none;
    background: url(../../../images/like.svg);
    background-repeat: no-repeat;
    grid-row: 2;
    grid-column: 1;
    cursor: pointer;
    width: 22px;
    height: 19px;
    padding: 0;
    transition: 0.3s;
    margin: 30px 20px 30px auto;
}

.card__like-button:hover{
    opacity: 0.5;
    transform: scale(1.3);
}